{% extends "template.html" %}
{% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">MODIFICAR</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Blog</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title text-center">Bienvenido</h5>
                          <form class="row g-3 needs-validation" method="POST" action="/admin/validador/update" novalidate>
                            
                            <input type="hidden" name="id" value="{{validador.id}}"> 
                            <input type="hidden" name="id" value="{{generador.id}}">
    
                              <div class="col-md-6">
                                  <label for="dni" class="form-label">Canton</label>
                                  <input type="text" class="form-control" id="canton" name="can" required value= "{{validador.canton}}">
                              </div>
  
                              <div class="col-md-6">
                                  <label for="apellido" class="form-label">Apellido Paterno</label>
                                  <input type="text" class="form-control" id="apellidop" name="ape" required value= "{{validador.apellidoPaterno}}"readonly>
                              </div>
  
                              <div class="col-md-6">
                                  <label for="nombre" class="form-label">Apellido Materno</label>
                                  <input type="text" class="form-control" id="apellidom" name="apem" required value= "{{validador.apellidoMaterno}}"readonly>
                              </div>
  
                              <div class="col-md-6">
                                  <label for="celular" class="form-label">Integrantes</label>
                                  <input type="text" class="form-control" id="integrantes" name="inte" required value= "{{validador.integrantes}}">
                              </div>

                                <div class="col-md-6">
                                    <label for="tienegenerador" class="form-label">¿Tiene generador?</label>
                                    <select class="form-control" id="tienegenerador" name="tieneg" required value= "{{validador.tieneGenerador}}">
                                        <option value="true" {% if validador.tieneGenerador %}selected{% endif %}>Sí</option>
                                        <option value="false" {% if not validador.tieneGenerador %}selected{% endif %}>No</option>
                                    </select>
                                </div>

                              <div class="col-md-6">
                              <label for="celular" class="form-label">Costo (USD)</label>
                              <input type="text" class="form-control" id="costo" name="cost" required value= "{{generador.costo}}">
                              </div>

                              <div class="col-md-6">
                                <label for="celular" class="form-label">Consumo por Hora (L/h)</label>
                                <input type="text" class="form-control" id="consumoxhora" name="conxh" required value= "{{generador.consumoXHora}}">
                                </div>

                                <div class="col-md-6">
                                  <label for="celular" class="form-label">Energia Generada (kWh)</label>
                                  <input type="text" class="form-control" id="energiagenerada" name="energen" required value= "{{generador.energiaGenerada}}">
                                  </div>


                                  <div class="col-md-6">
                                    <label for="celular" class="form-label">Uso</label>
                                    <input type="text" class="form-control" id="uso" name="uso" required value= "{{generador.uso}}">
                                    </div>

                              <div class="col-12 text-center">
                                  <button class="btn btn-success" type="submit">REGISTRAR</button>
                                  <a href="/admin/validador/list" class="btn btn-danger">CANCELAR</a>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
{% endblock %}